.lista{
    color: #ff6961;
}
body{
    background-color: #fdfd96;
    font-size: 20px;
}
*{
    color: #77dd77;
}
img{
    width: 500px;
}
a{
    color: #84b6f4;
}
h2{
    width: auto;
    border: solid 10px #fdcae1;
     
}
#icono {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 50px;
}
header{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}
menu{
    list-style-type: none;
}
menu > a > li{
    display: inline;
    
}
#columnaright{
    width: 50%;
    float: right;
}
#columnaleft{
    width: 50%;
    float: left;
}
#logo {
    width: 2%;
    
}
footer{
    position: fixed;
    bottom: 0px;
}